{% extends "base.html" %}

{% block title %}Muokkaa työvuoroa{% endblock %}

{% block content %}

<h1>Muokkaa työvuoroa</h1>

<form action="/shift/{{ shift['id'] }}/edit" method="POST">
  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

  <label>Kategoria (otsikko):</label><br>

    <div style="max-height: 80px; overflow-y: auto; border: 1px solid #ccc; padding: 5px; width: 250px;">
     {% for category in categories %}
        <label>
        <input type="radio"
                name="category"
                value="{{ category.id }}"
                {% if category.name == shift['title'] %}checked{% endif %}
                required>
        {{ category.name }}
        </label><br>
     {% endfor %}
    </div>
  <label>Kuvaus:</label><br>
  <textarea name="description" rows="4" cols="50" maxlength="100" required>
    {{ shift['description'] }}
  </textarea><br><br>

  <label>Osallistujien määrä:</label><br>
  <input type="number"
         name="participants"
         value="{{ shift['participants'] }}"
         min="1"
         max="100"
         required><br><br>

  <button type="submit">Tallenna muutokset</button>
</form>

<br>
<a href="/shift/{{ shift['id'] }}">Peruuta</a>

{% endblock %}