<!DOCTYPE html>
<html>

<head>
  <title>Uusi työvuoro</title>
</head>

<body>

<h1>Uusi työvuoro</h1>

<form action="/create_shift" method="post">

  <p>
    <label>Valitse kategoria (otsikko):</label><br>

    <div style="max-height: 80px; overflow-y: auto; border: 1px solid #ccc; padding: 5px; width: 250px;">
      {% for category in categories %}
        <label>
          <input type="radio" name="category" value="{{ category.id }}" required>
          {{ category.name }}
        </label><br>
      {% endfor %}
    </div>
  </p>

  <p>
    Kuvaus: <br />
    <textarea name="description" rows="8" cols="60"></textarea>
  </p>

  <p>
    Osallistujien määrä: <br />
    <input type="number" name="participants" />
  </p>

  <input type="submit" value="Luo työvuoro" />

</form>

</body>
</html>